* {
   font-family: 'Montserrat', sans-serif;
}

body {
   margin: 0;
   padding: 0;
   min-height: 100vh;
   background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
   background-size: 300% 300%;
   animation: gradientShift 15s ease infinite;
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
}

@keyframes gradientShift {
   0% {
      background-position: 0% 50%;
   }

   50% {
      background-position: 100% 50%;
   }

   100% {
      background-position: 0% 50%;
   }
}

#root {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.title {
   font-size: 40px;
   font-weight: semibold;
   color: #ffffff;
}

.title2 {
   font-size: 100px;
   color: #ffffff;
   text-align: wrap;

}

.subtitle {
   font-size: 24px;
   color: #ffffff;
   text-align: left;
}

.contact-icon {
   font-size: 32px;
   color: #ffffff;
   margin: 0 10px;
}

.contact-icon:hover {
   opacity: 0.7;
   transition: opacity 0.3s ease;
}